<%- include('../partials/head.ejs') %>

<div class="site-content" data-template="<%= base; %>" data-page="<%= pageId; %>">
    <div class="container pt48">
        <h1><%= title %></h1>
        <canvas id="basic"></canvas>
    </div>
</div>

<%- include('../partials/end.ejs') %>